*{
    font-size: 1.5rem;
    border-radius: 5%;
    margin-left: 1%;
    margin-top: 1%;
    
}
header{

   line-height: 0.1em;
   font-size: 0.3em;
   
}

section{
    line-height: 1.8em;
    font-size: 0.6em;
    
}