.gridRow
{
border:1px solid black;
display:flex;
}


.cell
{
border: 1px solid black;
box-sizing: border-box;
}


#container
{
display: flex;
flex-direction: column;

}
button{
font-size:x-large;
margin-bottom: 10px;
}